$light-color: #f8f8f8;
$main-color: #333c41;
$main-hover: #7ccbd4;
$attention-color: #9ba5a8;
$attention-hover: ##002663;
$font-color: #4b4b4b;
@mixin boxShadow {
  -webkit-box-shadow: 10px 13px 20px -4px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 10px 13px 20px -4px rgba(0, 0, 0, 0.38);
  box-shadow: 10px 13px 20px -4px rgba(0, 0, 0, 0.38);
}

.cat-card {
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  padding: 15px;
  margin: 20px;
  margin-top: 0;
  border-radius: 10px;

  @include boxShadow;
  .top {
    height: 15%;
    margin-bottom: 0;
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: ##002663;

      .title-icon {
        font-size: 40px;
      }
      .title-text {
        color: $font-color;
        font-weight: bold;
        border-bottom: 2px solid $attention-hover;
        padding-bottom: 5px;
      }
    }
  }
  .mid-sec {
    height: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;

    .plus-icon {
      height: 50px;
      width: 50px;
      color: $font-color;
    }

    .card {
      height: 100%;
      width: 100%;
      overflow-y: auto;
      ul {
        margin-top: 10px;
        padding: 0;
        li {
          list-style: none;
          padding: 15px;
          border: 1.5px solid $main-color;
          border-radius: 5px;
          margin-bottom: 4px;
          margin-right: 5px;

          .inputGroup {
            display: flex;
            .inputField {
              order: 1;
              cursor: pointer;
            }
            .inputLabel {
              margin-left: 5px;
              font-weight: bold;
              color: $font-color;
              order: 2;
            }
          }
        }
      }
    }
  }
  .bottom {
    height: 25%;
    display: flex;
    justify-content: space-between;
    .prd-btns {
      display: flex;
      .add-prd {
        width: 150px;
        height: 30px;
        border: 2px solid rgba(112, 111, 211, 0);
        background-color: $main-color;
        border-radius: 5px;
        color: $light-color;
        cursor: pointer;
        &:hover {
          background-color: $main-hover;
        }
        // &:focus {
        //   border: 2px solid rgba(112, 111, 211, 1);
        //   box-shadow: 0px 0px 0px 1px rgba(112, 111, 211, 1);
        //   animation: animation-shadow 0.3s forwards;
        // }
        // @keyframes animation-shadow {
        //   100% {
        //     box-shadow: 0px 0px 25px 12px rgba(112, 111, 211, 0);
        //   }
        // }
        &:disabled {
          opacity: 0.3;
        }
      }
      .remove-prd {
        width: 150px;
        height: 30px;
        border: none;
        margin-left: 5px;
        background-color: $attention-color;
        border-radius: 5px;
        color: $light-color;
        cursor: pointer;
        &:hover {
          background-color: $attention-hover;
        }
        &:disabled {
          opacity: 0.3;
        }
      }
    }
    .remove-cat {
      width: 150px;
      height: 30px;
      border: none;
      margin-left: 5px;
      background-color: #0a3470;
      border-radius: 5px;
      color: $light-color;
      cursor: pointer;
      &:hover {
        background-color: #235ba8;
      }
    }
  }
}
